.sp-ico_for_fwd {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAAAL0lEQVR4AWMAAg0gtgdiRgYSgRkQpwGxw+DVPKp5VLMtPTQSduqoplFNhAHZBTIANBwVgYHEiZMAAAAASUVORK5CYII=");
}

.sp-ico_for_rev {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAAAM0lEQVR4AWMgETACsT0Qa5CqyQGI04DYDE1uVNOoJhKALbImWmtEOHVQah7VPKoZUSADABU8FYFhTnGWAAAAAElFTkSuQmCC");
}

.sp-ico_for_fwd, .sp-ico_for_rev {
  width: 14px;
  height: 26px;
  background-size: 14px 26px;
}

.top_carousel .sp-ico_for_fwd {
  transform: translateX(490px);
  background-position: 95% center;
}
.top_carousel .sp-ico_for_fwd, .top_carousel .sp-ico_for_rev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  z-index: 1000;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
.sp-ico {
  font-size: 0;
  line-height: 12px;
  vertical-align: middle;
  display: inline-block;
  width: 12px;
  /* height: 12px;
  background-size: 12px 12px; */
  height: 24px;
  background-size: 12px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* --- */

.image-gallery-icon {
  color: #fff;
  transition: all .2s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  /* filter: drop-shadow(0 2px 2px #1a1a1a); } */
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)) !important;
  opacity: 0.5;
}
.image-gallery-icon:hover {
  opacity: 1;
}
.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 110px !important;
  width: 50px !important;
}

/* LOOK! */
.image-gallery-right-nav svg {
  transform: scale(0.35) translateX(150%) !important;
}
.image-gallery-left-nav svg {
  /* TODO: translateX(-100%) inverted yet! */
  transform: scale(0.35) translateX(150%) !important;
}

.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}
