/*
.image-gallery-left-nav.modified2 .image-gallery-svg, .image-gallery-right-nav.modified2 .image-gallery-svg {
  height: 110px !important;
  width: 50px !important;
} */

.image-gallery-icon.modified2 {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2)) !important;
}
.image-gallery-right-nav.modified2 svg {
  transform: scale(1) !important;
}
.image-gallery-left-nav.modified2 svg {
  transform: scale(1) !important;
}
.image-gallery-right-nav.modified2 svg:hover,
.image-gallery-left-nav.modified2 svg:hover {
  opacity: 0.6;
}
/* LOOK! */
@media(min-width: 768px) {
  .image-gallery-right-nav.modified2 svg {
    transform: scale(1) translateX(100%) !important;
  }
  .image-gallery-left-nav.modified2 svg {
    transform: scale(1) translateX(-100%) !important;
  }
}
@media(min-width: 1500px) {
  .image-gallery-right-nav.modified2 svg {
    transform: scale(1) translateX(100%) !important;
  }
  .image-gallery-left-nav.modified2 svg {
    transform: scale(1) translateX(-100%) !important;
  }
}
.image-gallery-icon.modified2:focus {
  outline: none;
}
