.image-gallery-icon {
  color: #fff;
  transition: all .2s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  /* filter: drop-shadow(0 2px 2px #1a1a1a); } */
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4)) !important;
}
.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 110px !important;
  width: 50px !important;
}

.image-gallery-right-nav svg,
.image-gallery-left-nav svg {
  transform: scale(1) !important;
}
.image-gallery-right-nav svg:hover
.image-gallery-left-nav svg:hover {
  transform: scale(1);
}

@media (min-width: 768px) {
  .image-gallery-icon:hover {
    color: #337ab7;
  }
}

.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}
